body {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo {
    font-size: 23px;
    font-weight: bold;
    color: #f12598;
    text-align: center;
}
.div{
    font-size: 20px;
    margin-left: 18%;
    margin-top: 4%;
    width: 55%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    height: fit-content;
}